body{
    font-family:'Oswald';
    background-color: black;
}
ul {

    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color:red;
    border-radius: 30%;
    text-decoration: none;
}
li {
    color: white;
    
    
}
.logo {
    margin-left: auto;
    border-radius: 50%;
    
}
p {
    text-align: center;

}
h2 {
    color: white;
    
}
h3{color: white;
    
}
.elden {
    color: white;
  

}
.ring {
    margin-right: 1000px;
    height: 100px;
    width: 100px;
    padding: auto;
}
.assasins {
    color: white;
  
}
.Assassins {
    color:white;
    
}
.texto {
    color: white;
    
}
.a {
    margin-right: 1000px;
    height: 100px;
    width: 200px;
    padding: auto;
}
.ghost {
color: white;

}
.g {
    color: white;
   
}

.Ghost {
  margin-right: 1000px;
    height: 100px;
    width: 200px;
    padding: auto;
} 
    
.berserk {
    color: white;

}
.khazan {
    color: white;

}
.first {
    margin-right: 1000px;
    height: 100px;
    width: 200px;
    padding: auto;
}




